@mixin flex-forever {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

//mixin with arguments

@mixin font-setup($f-name, $f-size, $f-weight) {
  font-family: $f-name;
  font-size: $f-size;
  font-weight: $f-weight;
}

@mixin card-size($width, $height) {
  width: $width;
  height: $height;
}

/*this part doesn't usually go in the mixin file, but wherever it is being used*/
.container {
  /*how to call every mixin*/
  @include flex-forever;
  background-color: pink;
  @include font-setup(arial, 3rem, bold);
}

.text-center {
  /*how to call every mixin*/
  @include flex-forever;
  @include font-setup(arial, 9rem, normal);
}
