$my-color: red;
$shade-light-one: rgb(243, 243, 107);
$shade-medium-one: yellow;
$shade-dark-one: rgb(255, 196, 0);

$shade-light-two: lightpink;
$shade-medium-two: rgb(248, 140, 158);
$shade-dark-two: hotpink;

$shade-light-three: rgb(221, 0, 221);
$shade-medium-three: purple;
$shade-dark-three: rgb(66, 1, 66);

$shade-light-four: lightblue;
$shade-medium-four: rgb(57, 57, 251);
$shade-dark-four: darkblue;
